@import 'styles/_colors.var';
@import 'styles/_typography.var';

.header {
  background: $gray-5;
  border: 1px solid $gray-4;
  font-weight: $font-500;
  padding: .8rem 1rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.search-form {
  background: $white-2;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 32px;
  border: 1px solid $gray-4;
}

.boxed {
  padding: 1rem 9px;
}

.border {
  border-top: dashed 2px $gray-5;
  padding-top: 28px;
}

.adv-search {
  padding: 6px 2rem;
  font-size: 12px;
  color: $gray-2;
  background: $gray-4;
  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 32px;
}
